@import "partials/setup";
@import "partials/mixins";

//VARIABLES

$openSans: 'Open Sans Condensed', sans-serif;
$playfair: 'Playfair Display', serif;

$lightGreen: #DDE8B9;
$beige: #E8D2AE;
$red: #CB8589;
$brown: #796465;
$darkerBrown: #392F30;

//GLOBAL STYLES

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.3s;
}

button {
	width: 150px;
	height: 40px;
	border-radius: 25px;
	border: none;
}

a {
	text-decoration: none;
}

.headerWrapper {
	max-width: 1500px;
	margin: 0 auto;

}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

//HEADER STYLES

header {
	background-image: url('../../dev/assets/elli-o-65548-edit5.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 1000px;
	@include respond-to('large') {
		background-position: 25% 50%;
	}
	@include respond-to('medium') {
		height: 800px;
		margin: 0 auto;
		text-align: center;
		background-position: 5% 50%;
	}
}

.overlay {
	box-shadow: inset 0 0 0 1000px rgba(57, 47, 48, 0.15);
	height: 1000px;
}

.headerContainer {
	width: 500px;
	text-align: center;
	color: #DDE8B9;
	position: relative;
	@include respond-to('medium') {
		width: 100%;
	}
	h1 {
		color: $beige;
		font-family: $playfair;
		font-style: italic;
		font-weight: 700;
		font-size: 150px;
		line-height: 170px;
		text-shadow: 0 0 15px $darkerBrown;
		@include respond-to('medium') {
			font-size: 80px;
			line-height: 80px;
		}
	}
	h2 {
		padding-top: 30px;
		font-weight: 400;
		font-size: 50px;
		font-family: $openSans;
		text-shadow: 10px 10px 15px $darkerBrown;
	}
}

.title {
	position: absolute;
	margin-top: 32%;
	margin-left: 5%;
	@include respond-to('medium') {
		position: static;
		margin: 0;
		padding-top: 35%;
	}
}

#getStarted {
	font-family: $openSans;
	color: $darkerBrown;
	font-weight: 400;
	font-size: 20px;
	background-color: $beige;
	margin-top: 50px;
	outline: none;
}

#getStarted:hover {
	background: $brown;
	opacity: 40%;
	color: $beige;
}

//USER INPUT SECTION

input.my-input {
	color: $brown;
	font-family: $openSans;
	margin-bottom: 10px;
}

.tp-autocomplete {
	margin: 0 auto;
	font-family: $openSans;
	padding-top: 40px;
	padding-bottom: 30px;
	@include respond-to('small') {
		width: 95%;
	}
}

.tp-ac__input {
	font-family: $openSans;
	color: $darkerBrown;
	box-shadow: 2px 2px 4px $brown;
}

.tp-ac__list {
	background-color: white;
	color: $darkerBrown;
}

.tp-ac__item:hover, .tp-ac__item.is-active {
    background-color: $beige; }

.userInfo {
	margin: 0 auto;
	background-image: url('../../dev/assets/debut-light.png');
}

.foodRestricts {
	margin: 0 auto;
	text-align: center;
	@include respond-to('medium') {
		label {
			font-size: 30px;
			@include respond-to('small') {
				font-size: 20px;
				padding-left: 10px;
			}
		}
	}
}

.foodRestricts img{
	max-width: 50%;
}

.firstPartFoodRestricts {
	width: 100%;
}

.peanutFree, .treenutFree, .glutenFree, .seafoodFree, .dairyFree, .eggFree {
	margin: 0;
	padding: 0;
	width: calc(100% / 6);
	height: 250px;
	float: left;
	@include respond-to('xlarge') {
		height: 200px;
	}
	@include respond-to('large') {
		width: 20%;
		float: none;
		display: inline-block;
	}
	@include respond-to('medium') {
		width: 30%;
	}
	@include respond-to('small') {
		width: 40%;
		height: 150px;
	}
	img {
		max-width: 60%;
	}
}

.soyFree, .seasameFree, .sulfiteFree, .vegetarian, .vegan, .paleo {
	margin: 0;
	padding: 0;
	width: calc(100% / 6);
	height: 250px;
	float: left;
	@include respond-to('xlarge') {
		height: 200px;
	}
	@include respond-to('large') {
		width: 20%;
		float: none;
		display: inline-block;
	}
	@include respond-to('medium') {
		width: 30%;
	}
	@include respond-to('small') {
		width: 40%;
		height: 150px;
	}
	img {
		max-width: 60%;
	}
}

form {
	background: $beige;
	min-width: 100%;
	margin: 0;
	padding-bottom: 50px;
	font-family: $openSans;
	font-weight: 400;
	color: $brown;
	font-size: 25px;
	@include respond-to('small') {
		font-size: 15px;
	}
}

.soyFree img{
	width: 80%;
}

.paleo img {
	width: 75%;
	display: block;
	margin: 0 auto;
	@include respond-to('xlarge') {
		display: inline;
	}
}

input[type=submit] {
	margin: 0 auto;
	font-size: 15px;
	padding:15px 30px;
	font-family: $openSans;
	background: $brown;
	color: $beige;
	border: none;
	display: block;
	border-radius: 50px;
	outline: none;
}

input[type=submit]:hover {
	background-color: $beige;
	color: $brown;
	font-weight: bolder;
}

input[type=checkbox] {
	appearance: none;
	width: 21px;
	height: 21px;
	background: $red;
	border-radius: 50%;
	color: $brown;
	position: relative;
	box-shadow: 0 0 5px $brown;
	outline: none;
	&:checked::after{
		position: absolute;
		content: 'X';
		color: $beige;
		font-weight: 700;
		font-size: 18px;
		left: 6px;
		bottom: 0px;
		}
	}

//RESULTS SECTIONS STYLES

#resultsContainer {
	height: auto;
	background-color: #796465;
	background-image: url('../../dev/assets/arches.png');
	background-position: center;
	text-shadow: 0 0 10px $darkerBrown;
}

.resultsWrapper {
	@include respond-to('xlarge') {
		margin: 0 auto;
		width: 95%; 
	}
}

#recipeContainer {
	float: left;
	width: 60%;
	@include respond-to('medium') {
		float: none;
		width: 100%;
		text-align: center;
	}

	h2 {
		font-size: 45px;
		font-family: $openSans;
		color: $beige;
		margin-top: 25px;	
	}

	img {
		border-radius: 50px;
		width: 80%;
		border: 4px solid $beige;
		margin-top: 80px;
		box-shadow: 0 0 10px $darkerBrown;
	}

	p {
		color: $beige;
		font-family: $openSans;
		font-weight: bold;
		font-size: 20px;
		margin-top: 20px;
	}

	h4 {
		font-size: 30px;
		font-family: $openSans;
		color: $beige;
		padding-bottom: 10px
	}

	a {
		color: $beige;
		font-family: $openSans;
		background: none;
		font-size: 18px;
		text-transform: uppercase;
		text-decoration: underline;
	}

	.saveButton {
		color: $brown;
		background: $beige;
		font-family: $openSans;
		font-size: 20px;
		margin-bottom: 40px;
		margin-top: 40px;
		outline: none;
		box-shadow: 0 0 10px $darkerBrown;
	}
}

aside {
	width: 40%;
	float: right;
	padding-bottom: 50px;
	li {
		list-style-type: none;
	}
	@include respond-to('medium') {
		float: none;
		width: 100%;
		text-align: center;
	}
}

.savedRecipes {
	color: $beige;
	text-align: center;
	font-family: $openSans;
	padding-bottom: 50px;
	h3 {
		font-size: 45px;
		padding-bottom: 20px;
	}
}

.savedRecipeItem {
	width: 50%;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
	@include respond-to('large') {
		height: 130px;
	}
	@include respond-to('medium') {
		margin-bottom: 125px;
		}
	@include respond-to('small') {
		margin-bottom: 40px
	}
	p {
		padding-bottom: 10px;
	}
	
	}

a.savedRecipeLink {
	display: block;
	font-family: $openSans;
	font-size: 15px;
	color: $beige;
	font-weight: 700;
	@include respond-to('xlarge') {
	font-size: 12px;
	}
}

.savedRecipeImage {
	max-width: 100%;
	border-radius: 50px;
	border: 4px solid $beige;
	box-shadow: 0 0 10px $darkerBrown;
	transition: all 0.5s ease;
	&:hover {
		transform: scale(1.1);
	}
}

#weatherContainer {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px;
	width: 100%;
	height: 100px;
	text-align: left;
	font-family: $openSans;
	font-weight: bold;
	position: relative;
	@include respond-to('xlarge') {
		margin-top: 0px;
		margin-bottom: 200px;
		}
	@include respond-to('large') {
		margin-top: 0px;
		margin-bottom: 200px;
		}
	@include respond-to('medium') {
		margin-top: 0px;
		margin-bottom: 200px;
		}

	h4 {
		font-size: 50px;
		color: $beige;
		padding-left: 160px;
		margin-bottom: 15px;
		line-height: 4px;
		padding-top: 50px;
		@include respond-to('xlarge') {
		line-height: 60px;
		padding-left: 120px;
	
		}
		@include respond-to('large') {
		line-height: 60px;
		padding-left: 120px;
	
		}
		@include respond-to('medium') {
		padding-left: 90px;
		line-height: 60px;
	
		}
	}

	p {
		font-size: 40px;
		font-family: $openSans;
		color: $beige;
		font-weight: lighter;
		padding-left: 160px;
		margin-top: 0px;
		@include respond-to('xlarge') {
		padding-left: 120px;
	
		}
		@include respond-to('large') {
		padding-left: 120px;
	
		}
		@include respond-to('medium') {
		padding-left: 90px;
		}
	}

	.weatherIcon {
		width: 150px;
		text-align: left;
		position: absolute;
		top: 2px;
		left: 15px;
		filter: drop-shadow(0 0 2px $darkerBrown);
		@include respond-to('xlarge') {
		top: 30px;
		left: -30px;
	
		}
		@include respond-to('large') {
		top: 30px;
		left: -30px;
	
		}
		@include respond-to('medium') {
		top: 20px;
		left: -40px;
		}
	}
}

footer {
	clear: both;
	font-family: $openSans;
	color: $beige;
	background-color: $darkerBrown;
}

.footerContainer {
	@include respond-to('xlarge') {
		margin: 0 auto;
		width: 95%; 
	}
}

.footerLeft {
	width: 33.33%;
	float: left;
	padding-top: 40px;
	a {
		color: $beige;
	}
	@include respond-to('small') {
		float: none;
		text-align: center;
		width: 100%;
	}
}

.footerCenter {
	width: 33.33%;
	float: left;
	text-align: center;
	p {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 15px;
	}
	h3 {
		font-weight: 400;
		font-size: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	@include respond-to('small') {
		float: none;
		text-align: center;
		width: 100%;
	}
}

.teleport {
	width: 65px;
	margin-right: 17px;
}

.darkSky {
	width: 40px;
	margin-right: 15px;
}

.yummily {
	width: 38px;
}

.footerRight {
	width: 33.33%;
	text-align: right;
	float: right;
	padding-top: 40px;
	a {
		color: $beige;
	}
	@include respond-to('small') {
		float: none;
		text-align: center;
		width: 100%;
		padding-bottom: 50px;
	}
}

