@import "partials/setup";

$lato: 'Lato', sans-serif;
$openSans: 'Open Sans Condensed', sans-serif;
$slabo: 'Slabo 27px', serif;

$lightGreen: #DDE8B9;
$beige: #E8D2AE;
$red: #CB8589;
$brown: #796465;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	width: 150px;
	height: 40px;
	border-radius: 25px;
	border: none;
}

a {
	text-decoration: none;
}

.headerWrapper {
	max-width: 1500px;
	margin: 0 auto;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

header {
	background-image: url('../../dev/assets/elli-o-65548.jpg');
	background-size: cover;
	// background-position: 50px 100px;
	background-repeat: no-repeat;
	height: 1000px;
	// box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
	box-shadow: inset 0 0 0 1000px rgba(121, 100, 101, 0.5);


}

.headerContainer {
	width: 500px;
	text-align: center;
	color: #DDE8B9;
	position: relative;
	h1 {
		color: $beige;
		font-family: $slabo;
		font-style: italic;
		font-weight: 400;
		font-size: 150px;
		letter-spacing: 2px;
		text-shadow: 0 0 2px $brown;
		// text-transform: uppercase;
	}
	h2 {
		padding-top: 30px;
		font-weight: 400;
		font-size: 45px;
		font-family: $openSans;
		text-shadow: 0 0 2px $brown;
		letter-spacing: 2px;
	}
}
.overlay {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
	height: 1000px;
}
.title {
	position: absolute;
	margin-top: 40%;
	margin-left: 5%;
}

#getStarted {
	font-family: $openSans;
	color: $brown;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	background-color: $beige;
	margin-top: 50px;
}

.tp-autocomplete {
	margin: 0 auto;
	font-family: $openSans;
}

.userInfo {
	margin: 0 auto;
}


.foodRestricts img{
	max-width: 50%;
}

// form {
// 	background-image: url(/dev/assets/plateFood.jpg);
// }

.firstPart, .secondPart {
	width: 100%;	
}

.peanutFree, .treenutFree, .glutenFree, .seafoodFree, .dairyFree, .eggFree {
	width: 15%;
	float: left;
}

.soyFree, .seasameFree, .sulfiteFree, .vegetarian, .vegan, .paleo {
	width: 15%;
	float: left;
}

form {
	background: $beige;
	// height: 500px;
	min-width: 100%;
	margin: 0;
	padding-bottom: 50px;
	font-family: $openSans;
	color: $brown;
	font-size: 25px;
}

.tp-autocomplete {
	padding-top: 40px;
	padding-bottom: 30px;
}

form img {
	color: white;
}

.vegetarian img {
	width: 45%;
} 

.vegan img {
	width: 45%;
	display: block;
	margin: 0 auto;
}

.paleo img {
	width: 48%;
	display: block;
	margin: 0 auto;
}

input[type=checkbox] {
	opacity: 0;
}

input[type=submit] {
	margin: 0 auto;
	font-size: 15px;
	text-transform: uppercase;
	padding:15px 30px;
	font-family: $openSans;
	background: $brown;
	color: $beige;
	border: none;
	display: block;
	border-radius: 50px;
	margin-top: 20px;
}

input[type=submit]:hover {
	background-color: $beige;
	color: $brown;
	font-weight: bolder;
}

#resultsContainer {
	height: auto;
	background-color: $beige;
}

#weatherContainer {
	text-align: center;
	width: 33.33%;
	float: right;
	text-align: center;
	font-family: $openSans;

	font-weight: bold;
	p {

		font-size: 50px;
		float: right;
	}
	h4 {
		font-size: 40px;
		float-right: 40px;
	}
	img {
		width: 200px;
		// float: left;
		// width: 200px;
		// margin-right: -80px;
	}

}

#recipeContainer {
	float: left;
	width: 66.66%;
	h2 {
		font-size: 50px;
	}
}



footer {
	clear: both;
	font-family: $openSans;
	color: $beige;
	background-color: $brown;
}



.footerLeft {
	width: 33.33%;
	float: left;
	padding-top: 40px;

	a {
		color: $beige;
	}
}

.footerCenter {
	// margin: 0 auto;
	width: 33.33%;
	float: left;
	text-align: center;
	p {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 15px;
	}
	h3 {
		font-weight: 400;
		font-size: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.teleport {
	width: 65px;
	margin-right: 17px;
}

.darkSky {
	width: 40px;
	margin-right: 15px;
}

.yummily {
	width: 38px;
}

.footerRight {
	width: 33.33%;
	text-align: right;
	float: right;
	padding-top: 40px;
	a {
		color: $beige;
	}
}

