@import "partials/setup";

$lato: 'Lato', sans-serif;
$openSans: 'Open Sans Condensed', sans-serif;
$slabo: 'Slabo 27px', serif;

$lightGreen: #DDE8B9;
$beige: #E8D2AE;
$red: #CB8589;
$brown: #796465;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	width: 150px;
	height: 40px;
	border-radius: 25px;
	border: none;
}

a {
	text-decoration: none;
}

.headerWrapper {
	max-width: 1500px;
	margin: 0 auto;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

header {
	background-image: url('../../dev/assets/elli-o-65548.jpg');
	background-size: cover;
	// background-position: 50px 100px;
	background-repeat: no-repeat;
	height: 1000px;
	// box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
	box-shadow: inset 0 0 0 1000px rgba(121, 100, 101, 0.5);
}

.headerContainer {
	width: 500px;
	text-align: center;
	color: #DDE8B9;
	position: relative;
	h1 {
		color: $beige;
		font-family: $slabo;
		font-style: italic;
		font-weight: 400;
		font-size: 150px;
		letter-spacing: 2px;
		text-shadow: 0 0 2px $brown;
		// text-transform: uppercase;
	}
	h2 {
		padding-top: 30px;
		font-weight: 400;
		font-size: 45px;
		font-family: $openSans;
		text-shadow: 0 0 2px $brown;
		letter-spacing: 2px;
	}
}

.overlay {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
	height: 1000px;
}
.title {
	position: absolute;
	margin-top: 40%;
	margin-left: 5%;
}

#getStarted {
	font-family: $openSans;
	color: $brown;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	background-color: $beige;
	margin-top: 50px;
	outline: none;
}

#getStarted:hover {
	background: $brown;
	opacity: 40%;
	color: $beige;
}

.tp-autocomplete {
	margin: 0 auto;
	font-family: $openSans;
}

.tp-ac__input {
	font-family: $openSans;
}

.userInfo {
	margin: 0 auto;
}

.foodRestricts {
	margin: 0 auto;
	text-align: center;
}

.foodRestricts img{
	max-width: 50%;
}


.firstPart, .secondPart {
	width: 100%;	
}

.peanutFree, .treenutFree, .glutenFree, .seafoodFree, .dairyFree, .eggFree {
	width: calc(100% / 6);
	float: left;
	img {
		max-width: 60%;
	}
}

.soyFree, .seasameFree, .sulfiteFree, .vegetarian, .vegan, .paleo {
	width: calc(100% / 6);
	float: left;
	img {
		max-width: 60%;
	}
}

form {
	background: $beige;
	min-width: 100%;
	margin: 0;
	padding-bottom: 50px;
	font-family: $openSans;
	color: $brown;
	font-size: 25px;
}

.tp-autocomplete {
	padding-top: 40px;
	padding-bottom: 30px;
	font-family: $openSans;
}

.soyFree img{
	width: 80%;
	// display: block;
}

.eggFree img {
	// width: 80%;
	// display: block;
}

.vegan img {
	// width: 45%;
	// display: block;
	// margin: 0 auto;
}

.paleo img {
	width: 75%;
	display: block;
	margin: 0 auto;
}

input[type=submit] {
	margin: 0 auto;
	font-size: 15px;
	text-transform: uppercase;
	padding:15px 30px;
	font-family: $openSans;
	background: $brown;
	color: $beige;
	border: none;
	display: block;
	border-radius: 50px;
	margin-top: 20px;
	outline: none;
}

input[type=submit]:hover {
	background-color: $beige;
	color: $brown;
	font-weight: bolder;
}

input[type=checkbox] {
    appearance: none;
    width: 21px;
    height: 21px;
    background: $red;
    border-radius: 50%;
    color: $brown;
    position: relative;
    box-shadow: 0 0 5px $brown;
    outline: none;
    &:checked::after{
    	// background: $lightGreen;
        position: absolute;
        content: 'X';
        color: $beige;
        font-weight: 700;
        font-size: 18px;
        left: 6px;
        // top: 0px;
        bottom: 0px;
    }
}

#resultsContainer {
	height: auto;
	// background-color: $red;
	background-image: url('../../dev/assets/tabelImage.jpg');
	background-size: cover;
	background-position: center;
}

#weatherContainer {
	text-align: left;
	width: 25%;
	float: right;
	text-align: center;
	font-family: $openSans;
	font-weight: bold;
	// padding-top: 100px;
	color: #604e4f;

	p {
		font-size: 40px;
		float: right;
		font-family: $openSans;
		font-weight: lighter;
		padding-top: 100px;
	}
	h4 {
		font-size: 70px;
		float-right: 40px;
		padding-top: 70px;
	}
	img {
		width: 200px;
		text-align: left;
		// float: left;
		// width: 200px;
		// margin-right: -80px;
	}
}

#recipeContainer {
	float: left;
	width: 75%;
	h2 {
		font-size: 45px;
		font-family: $openSans;
		color: #604e4f;
		margin-top: 25px;	
		// font-style: italic;	
	}

	img {
		border-radius: 50px;
		width: 80%;
		border: 4px solid $beige;
		padding: 15px;
		margin-top: 80px;
		opacity: 0.7;
	}

	p {
		color: $brown;
		font-family: $openSans;
		font-weight: bold;
		font-size: 20px;
		margin-top: 20px;

	}

	h4 {
		font-size: 30px;
		font-family: $openSans;
		color: gray;
	}

	a {
		color: $beige;
		font-family: $openSans;
		color: $brown;
		background: none;
		font-size: 18px;
		text-transform: uppercase;
		// font-weight: bold;
		// font-style: italic;
	}

	.saveButton {
		color: $beige;
		background: $brown;
		font-family: $openSans;
		font-size: 20px;
		margin-bottom: 40px;
		margin-top: 40px;
		outline: none;
	}
}

footer {
	clear: both;
	font-family: $openSans;
	color: $beige;
	background-color: $brown;
}

.footerLeft {
	width: 33.33%;
	float: left;
	padding-top: 40px;

	a {
		color: $beige;
	}
}

.footerCenter {
	// margin: 0 auto;
	width: 33.33%;
	float: left;
	text-align: center;
	p {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 15px;
	}
	h3 {
		font-weight: 400;
		font-size: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.teleport {
	width: 65px;
	margin-right: 17px;
}

.darkSky {
	width: 40px;
	margin-right: 15px;
}

.yummily {
	width: 38px;
}

.footerRight {
	width: 33.33%;
	text-align: right;
	float: right;
	padding-top: 40px;
	a {
		color: $beige;
	}
}

